body {
  /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
  // background-color: white;

  .title {
    font-size: 18px;
  }

  ;

  .content {
    font-size: 14px;
  }

  //   h1 {
  //     color: black;
  //   }


  .filename {
    margin-left: 2px;
  }

  // table of contents
  .toc-title {
    font-size: 0.6rem !important;
  }

  .backlink-title {
    font-size: 10px !important;
  }
}

.backlink-card {
  font-size: 0.8rem;

  i {
    font-size: 0.6rem;
  }
}

.no-backlinks-message {
  font-size: 0.8rem;
  color: var(--text-normal);
}


.filetree-sidebar {
  h1 {
    font-size: 12px !important;
  }
}