body {
  /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
  // background-color: white;

  .title {
    font-size: 18px;
  }

  ;

  .content {
    font-size: 14px;
  }

  //   h1 {
  //     color: black;
  //   }


  .filename {
    margin-left: 0px;
  }

  .toc-title {
    font-size: 0.8rem !important;
  }

  .backlink-title {
    font-size: 12px !important;
  }
}

.backlink-card {
  font-size: 0.8rem;

  i {
    font-size: 0.6rem;
  }
}

.no-backlinks-message {
  font-size: 0.8rem;
  color: var(--text-normal);
}


.filetree-sidebar {
  margin: 0;
  z-index: 10;
  padding: 10px;
  top: 0px;
  left: 0;
  position: fixed;
  height: 100%;
  background-color: var(--background-secondary);
  color: var(--text-muted);
  overflow-y: auto;
  width: 250px;

  h1 {
    font-size: 24px !important;

  }
}